
/* Reset CSS para eliminar margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte personalizada do Google Fonts */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* Estilos do cabeçalho */
header {
  text-align: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  /* filter: drop-shadow(10px 0px 10px rgba() */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.nav-links li {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.nav-links a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f9f9f9; /* Cor de fundo padrão */
  transition: background-color 0.3s ease-in-out;
  border: 3px solid #ccc;
}

.nav-links img {
  margin-top: 7px;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

/* Estilos da seção */
.section {
  padding: 4rem 0;
  text-align: center;
}

#sobre {
  margin-top: 15px;
  background-color: #8787876a;
  border-radius: 10px;
  padding: 20px; /* Aumentei o padding para um espaçamento maior */
  border: 1px solid #878787; /* Adicionei uma borda sólida com a mesma cor do fundo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adicionei uma sombra para realçar a seção */
}

#sobre p {
  /* Estilos para o texto dentro da seção */
  font-size: 16px;
  color: #f2f2f2; /* Cor do texto */
  line-height: 1.5;
}

/* Estilos da imagem de fundo */
.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.parallax img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  transition: transform 0.1s linear;
}

/* Estilos do ícone flutuante (WhatsApp) */
.floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.floating-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #25d366;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.floating-icon img:hover {
  background-color: #128c7e;
}

/* Estilos do formulário de contato */
#contato {
  text-align: center;
  padding: 4rem 0;
}

#contato form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  background: linear-gradient(45deg, #25d366, #128c7e);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.form-group button:hover {
  background-color: #128c7e;
}

.audio-container {
  z-index: 999;
  position: fixed;
  top: 0; /* Ajuste conforme necessário para definir a distância a partir da parte superior */
  right: 0; /* Ajuste conforme necessário para definir a distância a partir da direita */
}

/* Estilos do botão personalizado */
.custom-button {
  background-color: #ff5500; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remova a borda padrão do botão */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Altera o cursor ao passar o mouse */
  transition: background-color 0.3s ease-in-out; /* Adiciona uma transição suave para a cor de fundo */
}

/* Estilo de hover para o botão */
.custom-button:hover {
  background-color: #ff3300; /* Cor de fundo ao passar o mouse */
}

.audio-button-container{
  display: none;
}


 /* Estilo para o contêiner das imagens */
 #instagram-feed {
  margin-bottom: 200px;
  max-height: 610px; /* Altura máxima desejada */
  overflow: hidden; /* Esconder conteúdo que excede a altura máxima */
}

.instagram-images {
  display: flex;
  justify-content: space-between;
}

/* Estilo para cada imagem do Instagram */
.instagram-image {
  width: 30%; /* Largura de cada imagem */
  margin-right: 10px; /* Espaçamento entre as imagens */
  max-height: 100%; /* Todas as imagens têm a mesma altura */
}

/* Estilo para o título da imagem */
.instagram-image h2 {
  font-size: 16px;
  margin: 5px 0;
}

/* Estilo para a descrição da imagem */
.instagram-image p {
  font-size: 14px;
  color: #888;
}


/* Estilos para dispositivos de tela pequena */
@media (max-width: 768px) {
  header img {
    max-width: 80%;
  }

  .section img {
    max-width: 80%;
  }

  .nav-links li {
    margin: 0 5px;
    max-width: 80%;
  }

  header img {
    margin-bottom: 10px;
  }


  .parallax img {
    content: url('https://codeyuri1.github.io/laraLandingPage/images/IMG_6613.png');
    width: 100%;
    height: auto;
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    transform-origin: center bottom;
  }

  .audio-button-container {
    z-index: 999;
    position: fixed;
    top: 20px;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  #play-button i {
    font-size: 20px; /* Ajuste o tamanho conforme necessário */
    color: white;
    position: relative;
    top: 0; /* Ajuste conforme necessário para centralizar verticalmente */
  }
  
  #play-button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  #play-button:hover i {
    color: #128c7e;
  }

  audio {
    display: none;
  }

   /* Estilos específicos para dispositivos de tela pequena para a seção Instagram */

   #instagram-feed {
    margin-bottom: 100px; /* Reduza a margem inferior */
  }

  .instagram-images {
    flex-direction: column; /* Empilhe as imagens verticalmente */
    align-items: center; /* Centralize as imagens horizontalmente */
  }

  .instagram-image {
    width: 100%; /* Faça as imagens ocuparem a largura total */
    margin-right: 0; /* Remova o espaçamento entre as imagens */
    margin-bottom: 10px; /* Adicione um espaçamento inferior entre as imagens */
  }
  
}

